@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --gray: #8D9092;
  --pink: #AC6EFF;
}

